
/*Estilo Geral*/
body {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;    
    line-height: 1.6;
    margin: 0;
    padding:0;
    background-color:rgb(229, 142, 202);
    background-image: linear-gradient(rgb(107, 150, 185), rgb(63, 203, 100));
    color:rgb(41, 39, 39);
    
} .minha-imagem {
  position: absolute;
  margin: 0 auto; 
  top: 10;
  left: 10;
}

.container {
    max-width: 1000px; /* Largura máxima para a página */
    margin: 0 auto;    /* Centraliza o contêiner */
    padding: 20px;     /* Espaçamento interno */
}
ul{
    list-style: none;
    padding: 10px 15px;
    margin: 5px;
    font-style: normal;
    width: 200px;
    float: left;
    
}
li{
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(184, 184, 184);
    border: 1px solid #aca7a7;
    border-radius: 15px;    
}

/*Cabeçalho*/

h1{
    text-align: left;
    color: rgb(41, 39, 39);
    margin-left: 250px;
    padding: 10px;
    font-size: 3.0em;
    border: 2px solid #aca7a7;
    width: 900px;
    border-radius: 10px;
    background-color: rgb(187, 187, 187);
    
}
h2{
    text-align: center;
    font-family:Impact;
    color:#333232;
    padding: 5px;
    margin-left: 250px;
    margin-right: 10px;
}
h3 {
    font-family: impact;
    font-weight: bold;
    
    color: rgb(41, 39, 39);
    padding: 5px;
    margin: 30px;
}

p {
    font-family: arial;
    margin: 30px;
    padding: 5;
    margin-left: 30px;
}
/* Links */
a {
    color: #282928;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Lato', sans-serif;
	line-height: 1;
}

body {
	background-color: #F5F6F8;
	overflow: hidden;
}
	
	